*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 600px;
  margin: auto;
  padding: 0;
}
h1{
  margin-top: 1rem;
  text-align: center;
}

.Top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid black;
}
.Add{
  background-color:black;
  color: wheat;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}